.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.5s ease-in-out;
}

.header__link::after {
  content: "\a0\2192"; /* &nbsp;&rarr; */
}

.header__link:hover {
  opacity: 0.6;
}
