.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-size: cover;
  background-image: url("../images/kaufman-triangle.svg");
}

.footer {
  min-height: 250px;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  background: #1f1f1f;
  color: white;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author::before {
  content: "\a9  ";
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  padding: 20px 0 16px;
}

.footer__social-icon {
  padding-right: 10px;
}

.footer__column-link {
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
