.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
  list-style-type: none;
}

.table__cell_theme_dark {
  color: white;
  width: 200px;
  padding-top: 80px;
  z-index: 1;
}

.table__heading {
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0 0 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f2f2f2 url("../images/feynman.png") bottom left no-repeat;
}

.feynman__title {
  margin: 0;
  padding: 100px 0 70px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link::after {
  content: " \2192"; /*&rarr;*/
}

.kaufman {
  margin: 0;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
  background: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-size: cover;
  background-image: url("../images/kaufman-triangle.svg");
}

.footer {
  min-height: 250px;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  background: #1f1f1f;
  color: white;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author::before {
  content: "\a9  ";
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  padding: 20px 0 16px;
}

.footer__social-icon {
  padding-right: 10px;
}

.footer__column-link {
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
